<input *ngIf="noSecrets" class="form-control" type="text" placeholder="Search Secrets" (input)="search($event)">
<table *ngIf="filterdSecrets.length > 0" class="table">
  <thead class="thead-light">
    <th>Name</th>
    <th>Id</th>
    <th>Creation date</th>
    <th>Show</th>
    <th>Remove</th>
    <th>Edit</th>
  </thead>
  <tbody>
    <tr *ngFor="let secret of filterdSecrets">
      <td>{{ secret.name }}</td>
      <td>{{ secret.id }}</td>
      <td>{{ secret.createdAt }}</td>
      <td><a [routerLink]="secret.id"><i class="fa fa-eye"></i>Show</a></td>
      <td><a (click)="deleteSecret(secret.id)" style="cursor: pointer; color: #007bff!important;"><i
            class="fa fa-remove"></i>Remove</a></td>
      <td><a [routerLink]="['edit-secret', secret.id]"><i class="fa fa-pencil"></i>Edit</a></td>
    </tr>
  </tbody>
</table>
<div *ngIf="filterdSecrets.length === 0">No Secrets</div>
<a routerLink="add-secret" class="btn btn-success">Add Secret</a>
<div *ngIf="error"></div>
