<form *ngIf="secret" #f="ngForm" (ngSubmit)="onSubmit(f)">
  <div class="form-group">
    <label for="name">Name</label>
    <input class="form-control" type="text" name="name" [ngModel]="secret.name" required>
  </div>
  <div class="form-group">
    <label for="text">Text</label>
    <input class="form-control" type="text" name="text" [ngModel]="secret.text" required>
  </div>
  <div class="form-group">
    <label for="allowExport">Allow Export</label>
    <input type="checkbox" name="allowExport" [ngModel]="secret.allowExport"
      (change)="secret.allowExport = !secret.allowExport">
  </div>
  <input type="hidden" name="id" [ngModel]="secret.id">
  <input type="hidden" name="createdAt" [ngModel]="secret.createdAt">
  <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Update</button>
</form>
<a routerLink="/">Back</a>