<form #f="ngForm" (ngSubmit)="onSubmit(f)">
  <div class="form-group">
    <label for="name">Name</label>
    <input class="form-control" type="text" name="name" ngModel required>
  </div>
  <div class="form-group">
    <label for="text">Text</label>
    <input class="form-control" type="text" name="text" ngModel required>
  </div>
  <div class="form-group">
    <label for="allowExport">Allow Export</label>
    <input type="checkbox" name="allowExport" ngModel (change)="allowExport = !allowExport">
  </div>
  <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Add</button>
</form>
<a routerLink="/">Back</a>