<table class="table" *ngIf="secret">
    <thead class="thead-light">
      <th>Name</th>
      <th>Id</th>
      <th>Creation date</th>
      <th>Text</th>
    </thead>
    <tbody>
      <tr>
        <td>{{ secret.name }}</td>
        <td>{{ secret.id }}</td>
        <td>{{ secret.createdAt }}</td>
        <td>{{ secret.text }}</td>
      </tr>
    </tbody>
  </table>
  <a routerLink="/">Back</a>